footer
    .container.contacts
        .row
            .col-md-6
                h2 Підпишись на оновлення
                form.form-footer
                    input(type='text' placeholder='Введіть свій e-mail')
                    button(type='submit' class='button') Підписатись
            .col-md-6
                h2 Контакти
                p ул. Казимира Малевича, 86П, оф.107,  Киев, Украина
                p
                    a(href='mailto:hello@volta.one' title='') hello@volta.one
                p
                    a(href='tel:+380981383838' title='') +38 (098) 138-38-38
    .container.copyright
        .row
            .col-12
                p Copyright


script(type="text/javascript" src="js/main.js")

