//.container(style='display:none')
section#mailBlock
    .container
        .row.share.purpose
            .col-12
                h2 Напишіть нам
            .offset-md-1.col-md-10
                form.form-mail
                    ul.mail-theme
                        li Тема повідомлення:
                        li
                            label(class='active')
                                input(type='radio' name='theme' value='')
                                span.front Контент
                        li
                            label(class='hover')
                                input(type='radio' name='theme' value='')
                                span.front Пропозиція
                        li
                            label
                                input(type='radio' name='theme' value='')
                                span.front Допомога
                    .input-two
                        input(type='text' placeholder='Введіть ім’я')
                        input(type='text' placeholder='Введіть email')
                    textarea(placeholder='Введіть email')
                    button(type='submit' class='button white') Надіслати

footer
    .container.contacts
        .row
            a(href='#up' title='Догори' class='smooth up')
                img(src='img/arrowup.svg' title='Догори' alt='Догори')
            .col-md-6
                h2 Підпишись на оновлення
                form.form-footer
                    input(type='text' placeholder='Введіть свій e-mail')
                    button(type='submit' class='button') Підписатись
            .col-md-6
                h2 Контакти
                p Адреса для листів: 01021, Київ, а/с 31
                //
                    $('#sendMail').click(function(){
                        event.preventDefault();
                        &('#mailBlock').slideToggle();
                    });
                    $(".smooth").click(function (event) {
                            event.preventDefault();
                            var id = $(this).attr('href'),
                                top = $(id).offset().top;
                            $('body,html').animate({scrollTop: (top - 100)}, 1500);
                        });

                a(href='#' title='' id='sendMail')
                    svg(width='28px', height='20px', viewbox='0 0 28 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        defs
                        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            g#Pro-proekt-FIN(transform='translate(-665.000000, -3677.000000)', stroke='#F03232', stroke-width='2')
                                g#Rectangle-19(transform='translate(665.000000, 3677.000000)')
                                    rect(x='1', y='1', width='26', height='18')
                                    polyline#Path-2(points='1.0535792 0.986888688 13.9439578 9.06348252 27.2048707 1.05291755')

                    |  Напишіть нам

    .container.copyright
        .row
            .col-12
                a(href='//volta.one' title='VOLTA' class='link-copyright' target='_blank')
                    | Copyright by
                    svg.volta_logo(width='63px', height='15px', viewbox='0 0 63 15', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        title Fill 1
                        defs
                        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            g#Large-Device-Desktops(transform='translate(-1173.000000, -4747.000000)', fill='#4C4C4C')
                                path#Fill-1(d='M1180.24397,4761.04073 L1173,4747.15003 L1174.91446,4747.15003 C1176.14786,4749.59063 1177.77343,4752.79238 1178.93648,4755.02192 C1179.75525,4756.59286 1180.3233,4757.82776 1180.3233,4757.82776 C1180.3233,4757.82776 1180.90632,4756.56292 1181.7438,4754.95681 C1182.9046,4752.73026 1184.51146,4749.56668 1185.73214,4747.15003 L1187.64585,4747.15003 L1180.40039,4761.04447 L1180.24397,4761.04073 Z M1195.04474,4748.46501 C1192.05181,4748.46501 1189.62542,4750.95426 1189.62542,4754.02428 C1189.62542,4757.09505 1192.05181,4759.58355 1195.04474,4759.58355 C1198.03768,4759.58355 1200.46406,4757.09505 1200.46406,4754.02428 C1200.46406,4750.95426 1198.03768,4748.46501 1195.04474,4748.46501 L1195.04474,4748.46501 Z M1195.04474,4761.04671 C1191.16193,4761.04671 1188.01407,4757.9026 1188.01407,4754.02428 C1188.01407,4750.14596 1191.16193,4747.00185 1195.04474,4747.00185 C1198.92755,4747.00185 1202.07541,4750.14596 1202.07541,4754.02428 C1202.07541,4757.9026 1198.92755,4761.04671 1195.04474,4761.04671 L1195.04474,4761.04671 Z M1211.47782,4760.90077 L1204.60208,4760.90077 L1204.60208,4747.14854 L1206.21118,4747.14854 L1206.21118,4759.29092 L1211.47782,4759.29092 L1211.47782,4760.90077 Z M1216.74446,4748.75764 L1211.47782,4748.75764 L1211.47782,4747.14854 L1218.35431,4747.14854 L1218.35431,4760.90077 L1216.74446,4760.90077 L1216.74446,4748.75764 Z M1222.37708,4748.75764 C1221.93252,4748.75764 1221.57252,4748.3969 1221.57252,4747.95309 C1221.57252,4747.50853 1221.93252,4747.14854 1222.37708,4747.14854 C1222.82164,4747.14854 1223.18163,4747.50853 1223.18163,4747.95309 C1223.18163,4748.3969 1222.82164,4748.75764 1222.37708,4748.75764 L1222.37708,4748.75764 Z M1233.55699,4760.89778 C1232.32434,4758.45643 1230.69877,4755.25394 1229.53572,4753.02364 C1228.7162,4751.45271 1228.1489,4750.21781 1228.1489,4750.21781 C1228.1489,4750.21781 1227.56588,4751.48264 1226.7284,4753.08875 C1225.56685,4755.31605 1223.96074,4758.48038 1222.74006,4760.89778 L1220.8256,4760.89778 L1228.07181,4746.9996 L1228.22823,4747.00334 L1235.4722,4760.89778 L1233.55699,4760.89778 Z')




script(type="text/javascript" src="js/main.js")

