nav
    .container.nav-mobile
        .row
            .col-6
                a(href='index.html' title='Головна' class='logo-mobile') #SOSмайбутнє
            .col-6
                #nav-icon4
                    span
                    span
                    span
    .container.nav-panel
        .row
            .col-md-8
                ul.menu
                    li
                        a(href='index.html' title='Головна' class='logo') #SOSмайбутнє
                    li
                        a(href='index.html' title='Мапа' class='active') Онлайн реєстр
                    li
                        a(href='project.html' title='Про проект') Про проект
            //.col-md-4
                ul.login
                    li
                        a(href='' title='Реєстрація' class='registration') Реєстрація
                    li
                        a(href='' title='Вхід')
                            i.fa.fa-sign-in
                            | Вхід