@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  li

ol
  li


.ul-regular
  padding 0
  margin 0 0 0 9.5%
  li
    font(.875em, $black, 300, $text-dark)
    line-height: 1.43;
    list-style url('../img/mark.png')
    padding-left 10px
    margin-bottom 27px