.block404
  main
    filter: blur(5px);
    user-select none
    pointer-events:none
  nav
    filter: blur(5px);
    user-select none
    pointer-events:none

.message
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  z-index 1000
  +mobile()
    left: 15px;
    right: 15px;
  .row
    height 100vh
    align-items center
  .share
    text-align center
    +mobile()
      padding-left 15px
      padding-right 15px
    h1
      color $white
      font-size 7.500em
      margin-bottom 0
      padding-bottom 0
      &:after
        display none
    .button
      position relative
      bottom -50px
      box-shadow: 0 0 38px 0 rgba(240,50,50,.5);
      +mobile()
        position static