.add-new
  padding-top 80px
  padding-bottom 150px
  form
    padding-top 5px
    input
      margin-bottom 30px
      padding: 14px 33px 15px;
    button
      max-width 262px
      width 100%
      +mobile()
        max-width unset
  iframe
    height: 220px;
    width 100%
    margin-bottom 30px

.counter
  font-size: 2.375em
  letter-spacing: 4.1px;
  color: $text-gray2
  font-weight 500
  text-align right
  //float right
  //position relative
  height 100%
  width 28px
  transitions()
  //
  position: absolute;
  right: 15px;

  +mobile()
    float none
    position static
  &:before
    pseudo(block, absolute)
    width 6px
    height 6px
    background: $text-gray2
    border-radius 50%
    top 20px
    left -18px
    +mobile()
      display none
  &:after
    pseudo(block, absolute)
    width 2px
    height 20px
    background $red-main
    top 20px
    left -16px
    height 0
    transitions()





.counter-about
  width 100%
  text-align left
  right auto
  left 30px
  +tablet()
    font-size 1.575em
  +portrait()
    font-size 1.25em


.step
  user-select none
  pointer-events:none
  opacity .3

.step.current
  pointer-events auto
  opacity 1
  .counter
    color: $red-main
    &:before
      background $red-main
    &:after
      height 0

.step.passed
  pointer-events auto
  opacity 1
  .counter
    color: $red-main
    &:before
      background $red-main
    &:after
      height 100%
      +mobile()
        display none

.input-two
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  input
    flex 1 1 48%
    max-width 48%
    +mobile()
      flex 1 1 100%
      max-width 100%

input.big
  width 100%

.step-about
  min-height 129px
  user-select all
  pointer-events auto
  opacity 1
  .counter
    opacity .3

.step-about.passed
  .counter
    color rgba(154,154,154,.3)
    opacity 1

.step-about.current
  position relative
  &:after
    background $white
    pseudo(block, absolute)
    left 15px
    right 15px
    bottom 35px
    top -35px
    z-index -1
    +mobile()
      top -5px
      left -15px
      right -15px
      bottom 5px

  .counter
    opacity 1
