.project
  position relative
  padding-top 37px
  display none
  p
    line-height: 1.57
  .description
    line-height 1.6

.project-image-container
  width 100%
  overflow hidden
  max-height: 243px
  text-align center
  display flex
  align-items center
  margin 10px 0
  img
    width 100%