.share
  background $red-main
  padding 31px 0 19px
  box-shadow: 0px 0px 38px 0px rgba(240,50,50,.5);
  p
    color $white
    font-size 1.375em
    letter-spacing 3.5px
    font-weight 500
    line-height normal
    +mobile()
      text-align center
.purpose
  margin 115px 0 0
  padding-bottom 65px
  align-content: center
  align-items: center
  h2
    text-align center
    color $white
    font-weight 500
    font-size 1.625em
    letter-spacing: 4px
    padding-bottom 8px
    &:after
      pseudo(block, absolute)
      width: 68px;
      height: 3px;
      background $white
      bottom 0
      left calc(50% - 34px)
  p
    font-size 1em
    line-height: 1.38;
    font-weight 300
    letter-spacing 1px

.share-about
  margin 90px 0 200px
  p
    font-size 1.125em