@import '../../utilities/vars'
@import '../../utilities/mixins'

/* SECTIONS AND ARTICLES */
section {}

article {}

.container
  +displays()
    width 1170px

.spacer
  width 100%
  height 70px

.justify-content-center
  justify-content center

.spacer.big
  height 90px
.spacer.biggest
  height 208px
  display none
  +mobile()
    height 130px

.spacer-85
  height 85px
  width 100%

.spacer-70
  height 70px
  width 100%

.spacer-115
  height 115px
  width 100%