@import "../../utilities/vars"
@import "../../utilities/mixins"

/* BUTTON */
button {}

.button
  background $red-main
  display inline-block
  border none
  letter-spacing: 3.4px;
  color: $white
  padding 10px 17px 12px
  cursor pointer
  text-align center
  transitions()
  &:hover
    background $white
    color $red-main
  &:focus
    outline none

.button.big
  width 100%
  padding 18px 0 23px
  letter-spacing: 3px;

.button.white
  background $white
  color $red-main
  max-width 262px
  width 100%
  letter-spacing: 3px;
  font-size 1.125em
  padding 18px 0 20px
  &:hover
    background $red-middle
    color $white
  +mobile()
    max-width 100%

.button-share
  position relative
  min-height 60px
  overflow hidden
  span
    display block
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    padding 18px 0 20px
    transition transform .2s ease
  span.back
    transform translateX(-100%)
    font-size 26px
    padding-top 14px
  &:hover
    span.front
      transform translateX(100%)
    span.back
      transform translateX(0%)