@import "../../utilities/vars"
@import "../../utilities/mixins"

/* FOOTER */
footer
  background $white
  padding 50px 0 18px
  p
    margin-bottom 2px
  a
    color $text-dark
    &:hover
      color $red-main

.contacts
  margin-bottom 45px

.copyright
  p
    font-size .75em