@import "../../utilities/vars"
@import "../../utilities/mixins"

/* FOOTER */
footer
  background $white
  padding 50px 0 18px
  margin-top 115px
  p
    margin-bottom 2px
  a
    color $text-dark
    &:hover
      color $red-main

.contacts
  margin-bottom 45px

.copyright
  .link-copyright
    font-size .875em
    cursor pointer
    color $text-dark
    svg
      g
        fill $text-dark
        transitions()
    &:hover
      color #7521e1
      svg
        g
          fill #7521e1

#sendMail
  color $red-main
  letter-spacing: 3.7px;
  font-size .875em
  svg
    position relative
    top 6px
    margin-right 20px
    g
      stroke $red-main
      transitions()
  &:hover
    color $red-light
    svg
      g
        stroke $red-light

.up
  position absolute
  right 15px
  top -85px
  box-shadow: 0px 0px 20px 4px rgba(186,186,186,1);
  height 100px
  width 60px
  text-align center
  padding-top 35px
  background $white
  cursor pointer
  img
    transitions()
  &:hover
    opacity .8
    img
      transform translateY(-10px)