@import '../../utilities/vars'
@import '../../utilities/mixins'

/* FORMS */
form {}

.form-footer
  padding-top 7px
  +mobile()
    margin-bottom 50px
  input
    width 100%
    max-width 293px
    border 4px solid transparent
    padding 5px 29px 6px
    +tablet()
      max-width 285px
    +portrait()
      width 100%
      max-width unset
    +mobile()
      width 100%
      margin-left 0
      max-width unset
    &:focus
      outline none
      border-color $red-main
  button
    margin-left -4px
    +portrait()
      width 100%
      margin-left 0
    +mobile()
      width 100%
      margin-left 0

/* INPUTS */
input
  font-size: .875em
  line-height: 1.57;
  color: $text-gray2
  padding 9px 33px 10px
  border none
  background $text-gray
  border 4px solid transparent
  transitions()
  +placeholder()
    color $text-gray2
  &:focus
    border-color $blue
    outline none

input.error
  border-color red
  +placeholder()
    color red
.input-organization
  //display none
  opacity 0
  visibility hidden
  transitions()
.input-organization.visible
  //display inline-block
  opacity 1
  visibility visible

textarea
  font-size: .875em
  line-height: 1.57;
  color: $text-gray2
  padding 9px 33px 10px
  border none
  background $text-gray
  resize none
  width 100%
  min-height 90px
  margin-bottom 30px
  border 4px solid transparent
  transitions()
  +placeholder()
    color $text-gray2
  &:focus
    outline none
    border-color $blue

textarea.error
  border-color red
  +placeholder()
    color red


.file
  display flex
  flex-direction row
  flex-wrap wrap

.file-upload
  position: relative
  overflow: hidden
  width: 165px;
  height: 139px;
  background $text-gray
  color $text-gray2
  text-align: center
  margin-bottom 30px
  margin-right 15px
  transitions()
  +mobile()
    width calc(50% - 15px)
  &:hover
    opacity .7
.file-upload input[type="file"]
  display: none
.file-upload label
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  cursor: pointer
  padding-top 37px
.file-upload span
  .fa
    display block
    font-size 43px

.file-add
  background transparent
  span
    font-size 50px

.form-mail
  .input-two
    margin-bottom 30px
    input
      background $white
      margin-bottom 15px
  textarea
    background $white
  button.white
    display block
    margin 0 auto
    background $red-dark
    color $white
    box-shadow: 0px 10px 30px 8px rgba(186,20,20,1);
    &:hover
      background $white
      color $red-main
      transform translateY(10px)
      box-shadow: 0px 0px 15px 4px rgba(186,20,20,1);

.mail-theme
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  margin 7px 0 30px
  padding 0
  +portrait()
    flex-wrap wrap
  +mobile()
    flex-wrap wrap
  li
    list-style none
    font-size 1em
    font-weight 300
    color $white
    max-width 22%
    flex 1 1 22%
    background #e02525
    text-align center
    +portrait()
      flex 1 1 30%
      max-width 30%
    +mobile()
      flex 1 1 100%
      max-width 100%
    margin-bottom 15px
    &:first-child
      padding 12px 0 14px
      background transparent
      text-align left
      +portrait()
        flex 1 1 100%
        max-width 100%
      +mobile()
        flex 1 1 100%
        max-width 100%
    label
      display block
      cursor pointer
      padding 12px 0 14px
      margin-bottom 0
      position relative
      z-index 2
      input
        position relative
        z-index 2
      span.front
        color $white
        position relative
        z-index 4
        left -8px
        &:after
          pseudo(block,absolute)
          width 16px
          height 16px
          background #e02525
          top 2px
          left -7px
          z-index -1
          border-radius 50%

    label.active
      background $white
      span.front
        color #e02525
        &:after
          background $white
    label.hover
      background $white
      span.front
        color #e02525
        &:after
          background $white


    //input
    //  display block
