@import '../../utilities/vars'
@import '../../utilities/mixins'

/* IMAGES */
img {}

.pic-about
  width 100%
  margin-bottom 13px
  +mobile()
    margin-top 13px

.pic-spons
  position absolute
  bottom -10px
  left 15px
  +mobile()
    position static
    width 100%