@import '../../utilities/vars'
@import '../../utilities/mixins'

/* IMAGES */
img {}

.pic-about
  width 100%
  margin-bottom 13px
  +mobile()
    margin-top 13px

.sponse
  display flex
  flex-direction row
  flex-wrap nowrap
  margin 0
  padding 0
  align-items baseline
  position absolute
  bottom -10px
  left 15px
  +mobile()
    position static
  li
    list-style none
    margin-right 80px
    a
      cursor pointer
      &:hover
        opacity .5