include ../utilities/_mixins.pug

doctype html

html

    include ../partials/_head.pug

    body#up.block404
        include ../partials/_navigation.pug

        main
            include ../partials/_header.pug

            block content

        block message