//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | #SOSмайбутнє

block content

    section.jumbo
        .container
            .row.justify-content-center
                .col-12
                    h1 Про проект
                .col-md-6
                    p Онлайн-Реєстр - це інтерактивна мапа соціально важливих об’єктів, що потребують негайної допомоги. До реєстру ввійшли історичні, культурні, спортивні, освітні та інші об’єкти в дуже поганому стані, на які було нарешті звернено увагу в ході акції #SOSмайбутнє.
                .col-12
                    img(src='img/aboutsos.png' title='Про проект SOSмайбутнє' alt='Про проект SOSмайбутнє')
    section
        .container
            .row
                .offset-md-1.col-md-10
                    h2 Проблема
                    p.description
                       | У рейтингу країн за рівнем людського розвитку, який складає ООН, Україна, має постійну негативну динаміку. Ми постійно наздоганяємо минуле, намагаючись його реставрувати. Ми імітуємо зміни та реформи. Особливо це відчутно в сфері культури. Держава критично мало робить для розуміння реальних гуманітарних потреб громадян. Практично щоденно руйнуються інституції культури та освіти, охорони здоров’я та спорту. У невеликих містах та селах люди виключені з сучасності, від колишніх культурних клубів та стадіонів лишилися руїни. Ми ніби навмисно знищуємо можливості кожного нового покоління на гідне життя, а потім дивуємося трагічному стану країни. Вже давно настав час кожному взяти відповідальність за своє майбутнє і своєї країни в свої руки.
            .row
                .offset-md-1.col-md-10
                    h2 Проблема
                .offset-md-1.col-md-3

                    p.description
                       | Платформа #SOSмайбутнє створена з ініціативи Наталії Заболотної, засновниці та директора ArtUkraine Foundation за підтримки Kennan Institute (Kyiv office), Інституту Суспільно-Економічних Досліджень (ІСЕД), Агенції цифрових комунікацій Volta та тисяч небайдужих громадян. Її нагальне створення зумовлене критичним станом культурної сфери України.
                    img(src='img/logos/logo1.png' title='Про проект SOSмайбутнє' alt='Про проект SOSмайбутнє')
                .col-md-7
                    img(src='img/logos/pic.png' title='Про проект SOSмайбутнє' alt='Про проект SOSмайбутнє')
                    img(src='img/logos/logo2.png' title='Про проект SOSмайбутнє' alt='Про проект SOSмайбутнє')
    section
        .container
            .row.share
                .col-12
                    h2 Мета проекту
                .offset-md-1.col-md-7
                    p Ми хочемо відновити соціально важливі об’єкти, занедбані державою. Для цього ми створюємо дієвий інструмент, за допомогою якого волонтери, населення, меценати - усі небайдужі зможуть ефективно взаємодіяти та разом працювати над відродженням культурної сфери України.
                .col-md-3
                    a(href='' title='' alt='' class='button white') Поділитись
    section
        .container
            .row
                .col-12
                    h2 Хід проекту
            .row.step.passed
                .offset-md-1.col-md-2
                    .counter Етап 1
                .col-md-8
                    p #SOSмайбутнє - громадська акція в соцмережах, національний аудит культури та гуманітарної сфери в Україні.  Кожен небайдужий може сфотографувати занедбаний об'єкт та опублікувати світлину в соцмережах з хештегом #SOSмайбутнє.
            .row.step.current
                .offset-md-1.col-md-2
                    .counter Етап 2
                .col-md-8
                    p Онлайн-Реєстр об’єктів, отриманих від населення в рамках акції #SOSмайбутнє. Ми систематизуємо, наносимо на мапу та досліджуємо “пекельні місця” по всій Україні, які потребують негайної допомоги.
            .row.step
                .offset-md-1.col-md-2
                    .counter Етап 3
                .col-md-8
                    p Онлайн-Реєстр об’єктів, отриманих від населення в рамках акції #SOSмайбутнє. Ми систематизуємо, наносимо на мапу та досліджуємо “пекельні місця” по всій Україні, які потребують негайної допомоги.
            .row
                .col-12
                    h2 Що можете зробити ви
                    p Долучайтеся до впорядкування Реєстру!
                    ul
                        li Додавайте соціально важливі об’єкти вашого міста/села, стан яких викликає у вас занепокоєння, обурення чи навіть розпач. Це можуть бути культурні заклади, спортивні зали та басейни, лікарні та школи… будь-які установи, які мають служити українцям, але зруйновані недбалістю держави.
                        li Поширюйте інформацію про ініціативу серед друзів та знайомих. Нехай кожен напише про той заклад, становище якого турбує саме його. Адже благополуччя країни - це розвиток та задоволеність життям кожного її громадянина.
            .row.share
                .offset-md-1.col-md-7
                    p Тільки разом ми зупинимо гуманітарний дефолт та створимо міцний фундамент для культурного майбутнього України!
                .col-md-3
                    a(href='' title='' alt='' class='button white') Поділитись

            .row.spacer.biggest



