//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | #SOSмайбутнє - Про проект

block content

    section.jumbo
        .container
            .row.justify-content-center
                .col-12
                    h1 Про проект
                .col-md-10
                    p.description.description-contacts
                        | #SOSмайбутнє – громадська ініціатива, що виникла у соцмережах з метою окреслити масштаби гуманітарної кризи в країні та кардинально змінити ситуацію спільними зусиллями громадян. Вже в перші дні до ініціативи доєдналися тисячі учасників, серед яких знакові постаті, публічні особистості та небайдужі громадяни з різних регіонів України.
                        br
                        | Для цього ми створюємо дієвий інструмент, за допомогою якого волонтери, населення, меценати, міжнародні донатори – усі небайдужі до долі нашої країни зможуть ефективно взаємодіяти та разом працювати над відродженням культурної сфери України. Ми прагнемо відновити соціально важливі об’єкти, занедбані державою.
                .col-12
                    img(src='img/aboutsos2.png' title='Про проект SOSмайбутнє' alt='Про проект SOSмайбутнє')
    section
        .container
            .row
                .offset-md-1.col-md-10
                    h2.about-header Контекст
                    p.description
                       b У рейтингу країн за рівнем людського розвитку, який складає ООН, Україна має постійну негативну динаміку.
                       br
                       | Україна тримає лідерські позиції з дитячого алкоголізму, тютюнової та наркотичної залежності, Держава імітує зміни та реформи. Особливо це відчутно в соціокультурній сфері. Можновладці критично мало роблять для розуміння реальних гуманітарних потреб громадян. Культурні очільники роками байдуже та бездіяльно спостерігають за тим,
                       br
                       | як в країні руйнуються знакові пам’ятки архітектури. Вони є свідками та інколи учасниками знищення інституцій культури, освіти, спорту.  У невеликих містах та селах люди виключені з сучасності: від колишніх культурних центрів, сільських клубів, бібліотек, спортивних шкіл та стадіонів лишилися руїни.
                       br
                       | Ми ніби навмисно знищуємо можливості кожного нового покоління на гідне життя, а потім дивуємося трагічному стану країни. Вже давно настав час кожному взяти відповідальність за своє майбутнє і своєї країни в свої руки.
            .row.spacer-85
            .row
                .offset-md-1.col-md-10
                    h2.about-header Ініціатива
                .offset-md-1.col-md-3
                    p.description.iniative
                       | Платформа
                       span.red  #SOS
                       b майбутнє
                       |  створена з ініціативи громадського діяча
                       b  Наталії Заболотної
                       | , засновниці
                       b  ГО ArtUkraine Foundation
                       | , за підтримки
                       b  Kennan Institute (Kyiv office)
                       | ,
                       b  Інституту Суспільно-Економічних Досліджень (ІСЕД)
                       | ,
                       b  Агенції цифрових комунікацій Volta
                       |  та тисяч небайдужих громадян. Нагальність створення зумовлене критичним станом культурної сфери України.
                    img(src='img/logos/logo1.png' title='Про проект SOSмайбутнє' alt='Про проект SOSмайбутнє')
                .col-md-7
                    img(src='img/logos/pic2.png' title='Про проект SOSмайбутнє' alt='Про проект SOSмайбутнє' class='pic-about')
                    img(src='img/logos/logo2.png' title='Про проект SOSмайбутнє' alt='Про проект SOSмайбутнє' class='pic-spons')

    section
        .container
            .row.share.purpose
                .col-12
                    h2 Онлайн реєстр #SOSмайбутнє
                .offset-md-1.col-md-7
                    p
                        | Онлайн-реєстр - це інтерактивна мапа культурно й соціально значимих об’єктів, що потребують негайної допомоги та водночас “народна Вікіпедія”.
                        br
                        | Онлайн-реєстр #SOSмайбутнє формується зусиллями небайдужих громадян і команди волонтерів – ініціаторів та симпатиків платформи. На інтерактивній мапі першими з’явилися об’єкти – замки, сільські клуби, культурні центри та спортивні школи, – світлини та історії про які були опубліковані громадськими активістами в соціальних мережах у Facebook-групі  #SOSмайбутнє.

                .col-md-3
                    a(href='index.html' title='Онлайн реєстр' class='button white') Онлайн реєстр
    section
        .container
            .row
                .offset-md-1.col-md-10
                    h2.about-header Хід проекту
            .row.step.step-about.passed
                .offset-md-1.col-md-2
                    .counter.counter-about Етап 1
                .col-md-8
                    p #SOSмайбутнє - громадська акція в соцмережах, що поклала початок національному аудиту стану культури та гуманітарної сфери в цілому в Україні.
            .row.step.step-about.current
                .offset-md-1.col-md-2
                    .counter.counter-about Етап 2
                .col-md-8
                    p Онлайн-реєстр. Отримані від громадян дані про “пекельні місця” по всій Україні, які потребують негайної допомоги ми досліджуємо та наносимо на інтерактивну мапу.
            .row.step.step-about
                .offset-md-1.col-md-2
                    .counter.counter-about Етап 3
                .col-md-8
                    p ПОРТАЛ ДОБРИХ СПРАВ - потужний веб-ресурс, створений на базі реєстру. Основа ПОРТАЛУ ДОБРИХ СПРАВ - концепція краудсорсінгу та краудфандінгу, де волонтери, населення та меценати зможуть разом, спільними силами та коштом, відновлювати занедбані державою об’єкти.

            .row.spacer-70
            .row
                .offset-md-1.col-md-10
                    h2.about-header Що можете зробити ви
                    p
                        b ДОЛУЧАЙТЕСЯ ДО НАПОВНЕННЯ ОНЛАЙН РЕЄСТРУ!
                    ul.ul-regular
                        li Додавайте соціально важливі об’єкти вашого міста/села, стан яких викликає у вас занепокоєння, обурення чи навіть розпач. Це можуть бути замки, музеї, занедбані культурні заклади, спортивні зали та басейни, бібліотеки й школи мистецтв - будь-які установи, які мають служити українцям, але зруйновані недбалістю держави.
                        li Пріоритетними у відборі об’єктів для подальшого їх відтворення, реставрації, консервації, модернізації чи відбудови будуть саме ті, які здатні змінити репутаційний, соціальний та економічний клімат вашої громади, стимулювати внутрішній та зовнішній туризм.
                        li Поширюйте інформацію про ініціативу серед друзів та знайомих. напишіть про той  про той об’єкт, становище якого вас непокоїть саме вас та громадян, на території якої він знаходиться.
            .row.share.share-about
                .offset-md-1.col-md-7
                    p Тільки разом ми здатні зупинити гуманітарний дефолт та створити міцний фундамент для нашої країни та прийдешніх поколінь!
                .col-md-3
                    a(href='' title='' alt='' class='button white') Поділитись





