//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | #SOSмайбутнє

block content

    section.add-new
        .container
            .row
                .col-12
                    h2 Додати об’єкт
                    a(class='link-back' href='index.html' title='Назад')
                        //img(src='img/close.svg' title='' alt='' onerror='this.src="img/close.png"')
                        svg(width='20px', height='20px', viewbox='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Form(transform='translate(-1188.000000, -146.000000)', fill='#EF2626')
                                    g#Down(transform='translate(1172.000000, 134.000000)')
                                        path#Combined-Shape(d='M27.500746,22.0032665 L35.6185914,13.8854211 C36.0484257,13.4555868 36.0501234,12.7603853 35.6156647,12.3259266 C35.1842139,11.8944758 34.4899353,11.8892346 34.0561701,12.3229999 L25.970619,20.4085509 L17.885068,12.3229999 C17.4513028,11.8892346 16.7570241,11.8944758 16.3255734,12.3259266 C15.8911147,12.7603853 15.8928124,13.4555868 16.3226467,13.8854211 L24.4404921,22.0032665 L16.3226467,30.1211119 C15.8928124,30.5509462 15.8911147,31.2461477 16.3255734,31.6806064 C16.7570241,32.1120572 17.4513028,32.1172983 17.885068,31.6835331 L25.970619,23.5979821 L34.0561701,31.6835331 C34.4899353,32.1172983 35.1842139,32.1120572 35.6156647,31.6806064 C36.0501234,31.2461477 36.0484257,30.5509462 35.6185914,30.1211119 L27.500746,22.0032665 Z')

            form
                .row.step.passed
                    .offset-md-1.col-md-1
                        .counter 1
                    .col-md-8
                        h4 Заповніть всі поля:
                        .input-two
                            input(type='text' placeholder='Введіть ім’я')
                            input(type='text' placeholder='Введіть прізвище')
                            input(type='mail' placeholder='Введіть e-mail')
                            input(type='tel' placeholder='Введіть телефон')
                        a(href='' title='Я представник організації' class='link-organization') Я представник організації
                        input(type='text' class='big input-organization' placeholder='Назва суспільної організації, територіальної громади')
                .row.step.passed
                    .offset-md-1.col-md-1
                        .counter 2
                    .col-md-8
                        h5 Назва проекту
                        input(type='text' placeholder='Введіть назву' class='big')
                .row.step.passed
                    .offset-md-1.col-md-1
                        .counter 3
                    .col-md-8
                        h5 Назва проекту
                        textarea(type='text' placeholder='Введіть назву')
                .row.step.current
                    .offset-md-1.col-md-1
                        .counter 4
                    .col-md-8
                        h5 Фото об’єкту
                        p Розмір зображення повинен бути не меншим ніж 700х460 px (Перше фото - фото обкладинки)
                        .file
                            .file-upload.file-add
                                label#add
                                    span +
                            .file-upload
                                label
                                    input(type='file', name='file')
                                    span
                                        i.fa.fa-camera
                                        | Додати фото


                .row.step
                    .offset-md-1.col-md-1
                        .counter 5
                    .col-md-8
                        h5 Детальна інформація
                        textarea(type='text' placeholder='Введіть інформацію')
                        h5 Посилання на статті чи інформацію про об’єкт
                        input(type='text' class='big' placeholder='Введіть посилання на веб-сторінки')
                .row.step
                    .offset-md-1.col-md-1
                        .counter 6
                    .col-md-8
                        h5 Вкажіть місце розташування об’єкту
                        input(type='text' class='big' placeholder='Адреса або координати')
                        .input-two
                            input(type='text' placeholder='50.41417299999999')
                            input(type='text' placeholder='30.51924699999995')
                        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7212.636388966892!2d30.52727931734129!3d50.40935008628447!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x324a5854eb3f1a2b!2z0KLQoNCmIE9jZWFuIFBsYXph!5e0!3m2!1suk!2sua!4v1493299537793', width='100%', height='100%', frameborder='0', style='border:0', allowfullscreen='')
                        button(type='submit' class='button big') Відправити


