doctype html

html

    head
        // meta tags
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=9;IE=10;IE=Edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

        // title
        title mail

        // modernizr
        script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

        <!--[if lt IE 9]>
        script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
        <![endif]-->

    body(style='padding:0; margin:0')
        table(style='max-width:800px; width:100%; text-align:center; margin: 0 auto; background:#f13131; padding:60px 48px 30px')
            tr
                td
                    img(src='//sosfuture.com.ua/header-min.png' title='' alt='' style='width:100%; margin-bottom:30px')
            tr
                td(style='text-align:center')
                    h2(style='font-family: Arial, sans-serif; font-size:36px; letter-spacing: 3.3px; color:#fff; margin-bottom:30px; font-weight:700') Вітаємо!
                    h2(style='font-family: Arial, sans-serif; font-size:36px; letter-spacing: 3.3px; color:#fff; margin-bottom:60px; font-weight:700; line-height:normal')
                        | Раді повідомити вам, що реєстр
                        span(style='font-weight:bold')
                            |  #
                            span(style='color:#810000') SOS
                            | майбутнє
                        |  почав свою роботу.
                    p(style='font-family: Arial, sans-serif; color:#fff; font-size: 24px; letter-spacing: 1px; margin-bottom:15px; line-height:normal;') Запрошуємо вас одним з перших скористатися інтерактивною мапою, дізнатися більше про культурні та соціально важливі об’єкти, що потребують негайної допомоги.
                    p(style='font-family: Arial, sans-serif; color:#fff; font-size: 24px; letter-spacing: 1px; margin-bottom:15px;line-height:normal;') Ви також можете додати об’єкт, що викликає занепокоєння особисто у вас. Після перевірки модератором він може з’явитися на сайті.
                    p(style='font-family: Arial, sans-serif; color:#fff; font-size: 24px; letter-spacing: 1px; margin-bottom:60px;line-height:normal;')
                        | Реєстр - лише один з перших кроків, які ми робимо на шляху до щасливого майбутнього України.
                        br
                        | Долучайтеся, поширюйте інформацію про проект, адже тільки разом ми зупинимо гуманітарний дефолт та створимо міцний фундамент для нас, наших дітей та прийдешніх поколінь!
                    p(style='font-family: Arial, sans-serif; color:#fff; font-size: 24px; letter-spacing: 1px; margin-bottom:60px;line-height:normal;') Небайдужа команда
                        span(style='font-weight:bold')
                            |  #
                            span(style='color:#810000') SOS
                            | майбутнє
                    a(href='//sosfuture.com.ua' title='Перейти на сайт' style='font-family: Arial, sans-serif;text-decoration:none; color:#f13131; background:#fff; display:inline-block; width:100%; max-width:320px; font-size: 27px; letter-spacing: 3px; font-weight:700;padding:18px 0 20px; margin-bottom:60px') Перейти на сайт
                    p(style='font-family: Arial, sans-serif; color:#fff; font-size: 24px; letter-spacing: 1px; margin-bottom:20px; line-height: 1.11;') Партнери:
                    img(src='//sosfuture.com.ua/footer-min.png' title='' alt='' style='width:100%')