$black = black
$white = white
$main-font = "MuseoSansCyrl"
$logo-font = "MA2 DejaVu Mono"

//COLORS
$red-light = #f95f5f
$red-main = #f03232
$red-main2 = #f13131
$red-middle = #bf1a1a
$red-dark = #9f1212
$red-darker = #780000

$blue = #16c5ff

$gray-light = #f4f4f4
$gray-dark = #a3a3a3

$text-gray = #eaeaea
$text-gray2 = #9a9a9a

$text-dark = #454545
$text-darker = #1e1e1e


